## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

.ruby-version
*.rbc
.yardoc
/.bundle/
/pkg/
/coverage/
/doc/
/tags/
.byebug_history
